/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

/*rgb(106, 204, 234)*/
/*rgb(234, 242, 245)*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('MonoSocialIconsFont-1.10.eot');
  src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
       url('MonoSocialIconsFont-1.10.woff') format('woff'),
       url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
       url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

html, body {
  height: 100%;
}

body {
  padding-top: 70px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -120px;  /*footer height*/
  padding-bottom: 120px;  /*footer height*/
}

footer {
  background: rgba(35, 45, 59, 0.75);
  color: #888;
  height: 120px;
  padding: 20px 0px;
  text-align: center;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* .edit_user_profile */
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}


#error-explanation h2 {
  color: LightCoral;
  font-size: 12px;
  margin-top: -15px;
}

#error-explanation ul {
  color: LightCoral;
  font-size: 12px;
  text-align: left;
}

.alert {
  margin: 0px auto 20px auto;
  width: 70%;
}

footer .container .symbol {
  font-size: 300%;
  margin: 0px 50px;
}

@media (max-width: 767px) {  /* phone portrait/landscape */
  footer .container .symbol {
    margin: 0px 20px;
  }
  #barometer_tab {
    display: none;
  }
}


