.container>.home {
  margin: 50px auto;
  width: 70%;
}

.home .recommendations .bubble {
  position: relative;
  padding: 8px 25px 20px 25px;
  margin: 0;
  background: rgb(234, 242, 245);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
}

.home .recommendations .bubble:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 30px;
  border-width: 0 20px 20px 0px;
  border-style: solid;
  border-color: transparent rgb(234, 242, 245);
  display: block;
  width: 0;
}

.home .recommendations .author {
  color: gray;
  margin: 0px 0px 20px 58px;
}

.home .recommendations a {
  color: inherit;
}

.home .recommendations a:hover {
  text-decoration: none;
  opacity: .7;
}

/* pinterest style by http://masonry.desandro.com/ */
@media (max-width: 699px) {
  .grid-sizer { width: 100%; }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .grid-sizer { width: 45%; }
}

@media (min-width: 1200px) {
  .grid-sizer { width: 30%; }
}
