.navbar {
  background: rgba(35, 45, 59, 0.9);
  padding: 10px 0px;
}

.navbar>.container {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  max-width: 850px;
}

.navbar-header .navbar-toggle {
  z-index: 100;
}

.navbar-brand {
  color: white;
  font-size: 30px;
  position: absolute;
  width: 70%;
  text-align: center;
  max-width: 850px;
}

.navbar-brand a {
  color: white;
}

.navbar-brand a:hover {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
  background: inherit;
}

.navbar-link {
  color: white;
}

.navbar .create-recommendation {
  padding: 10px 5px;
}

.navbar .create-recommendation:hover .btn-text {
  display: inline;
}

.navbar .create-recommendation .btn-text {
  display: none;
  font-size: 13px;
}

.navbar .dropdown a:hover {
  color: gray;
  background: inherit;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.navbar #bs-navbar-collapse {
  text-align: right;
}

.navbar #bs-navbar-collapse a {
  color: white;
}

.navbar #bs-navbar-collapse a:hover {
  background: inherit;
}

.navbar .avatar {
  margin: -10px 0px;
  height: 40px;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;    
}

@media (max-width: 360px) { /* phone portrait */
  .navbar {
    padding: 0px;
  }
  .navbar>.container {
    width: 90%;
  }
  .navbar-brand {
    width: 100%;
  }
  .navbar-toggle {
    margin-right: 5px
  }
  .sign-in-text {
    display: none;
  }
}

@media (min-width: 361px) and (max-width: 767px) {  /* phone landscape */
  .navbar {
    padding: 0px;
  }
  .navbar>.container {
    width: 90%;
  }
  .navbar-brand {
    width: 95%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {  /* pad portrait */
  .navbar>.container {
    width: 75%;
    max-width: 700px;
  }
  .navbar-brand {
    width: 75%;
    max-width: 700px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {  /* pad landscape */
  .navbar {
    padding: 0px;
  }
  .navbar>.container {
    width: 100%;
    max-width: 800px;
  }
  .navbar-brand {
    width: 100%;
    max-width: 800px;
  }
}
