.container>.recommendation {
  margin: 50px auto 20px auto;
  width: 70%;
}

.recommendation .bubble {
  position: relative;
  padding: 8px 25px 20px 25px;
  background: rgb(234, 242, 245);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.recommendation .bubble:after {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  border-width: 0 20px 20px 0px;
  border-style: solid;
  border-color: transparent rgb(234, 242, 245);
  display: block;
  width: 0;
}

.recommendation .bubble .footer {
  margin-top: 10px;
}

.recommendation .bubble .footer .date {
  color: gray;
  font-size: 85%;
}

.recommendation .author {
  position: relative;
  overflow: hidden;
}

.recommendation .author .info {
  color: gray;
  float: left;
  line-height: 35px;
  text-align: center;
  width: 100px;
}

.recommendation .author .info .avatar {
  width: 100px;
}

.recommendation .author .bubble {
  left: 35px;
  width: 70%;
  float: left;
}

.recommendation .author .bubble .symbol .name {
  margin-left: 10px;
  color: gray;
}

.recommendation .bubble .result {
  font-size: 16px;
  color: gray;
}

.recommendation .bubble .result .success {
  font-size: 30px;
  color: green;
}

.recommendation .bubble .result .fail {
  font-size: 30px;
  color: red;
}

.recommendation .comments {
  margin-left: 135px;
}

.recommendation .comments .comment {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.recommendation .comments .comment .avatar {
  float: left;
  height: 40px;
}

.recommendation .comments .comment .bubble {
  float: left;
  left: 23px;
  padding: 10px 25px 10px 17px;
  width: 75%;
}

.recommendation .comments .comment .bubble:after {
  top: 10px;
  left: -15px;
  border-width: 0 15px 15px 0px;
}

.recommendation.new .title {
  color: gray;
  margin-left: 160px;
}

.recommendation.new .bubble {
  padding-top: 20px;
  padding-bottom: 30px;
}

.recommendation.new .bubble textarea {
  max-height: 200px;
}

.recommendation.new .symbol-input {
  float: left;
  margin-right: 15px;
}

.recommendation.new .action-input {
  float: left;
  margin-right: 15px;
}

.recommendation.new .term-input {
  float: left;
  padding-bottom: 15px
}

.recommendation.new .note-input {
  margin-bottom: 20px;
}

textarea {
  border: none;
  height: 27px;
  width: 100%;
  max-width: 100%;
  max-height: 87px;
}

@media (max-width: 450px) {  /* phone portrait */
  .container>.recommendation {
    margin-top: 10px;
    width: 100%;
  }
  .recommendation .author .info {
    float: none;
    margin: 0px auto 15px auto;
  }
  .recommendation .bubble:after {
    top: -20px;
    left: 200px;
    border-width: 20px 0px 0px 20px;
  }
  .recommendation .author .bubble {
    left: 0px;
    top: 15px;
    width: 100%;
  }
  .recommendation .comments {
    margin-left: 0px;
  }
  .recommendation .comments .comment .bubble {
    width: 78%;
  }

  /* new rcmd page */
  .container>.recommendation.new {
    margin-top: 0px;
  }
  .recommendation.new .title {
    margin: 0px 0px 15px 0px;
    font-size: 20px;
    text-align: center;
  }
  .recommendation.new .symbol-input {
    float: none;
    margin: 0px;
    padding-bottom: 10px;
  }
  .recommendation.new .action-input {
    width: 47%;
  }
  .recommendation.new .term-input {
    width: 46%;
  }
  .recommendation.new .author .bubble {
    top: 0px;
  }
}

@media (min-width: 451px) and (max-width: 767px) {  /* phone landscape */
  .container>.recommendation {
    margin-top: 10px;
    width: 100%;
  }
  .recommendation .author .info .avatar {
    width: 80px;
  }
  .recommendation .author .bubble {
    left: 20px;
    width: 75%;
  }
  .recommendation .comments .comment .bubble {
    width: 81%;
  }

  /* new rcmd page */
  .container>.recommendation.new {
    margin-top: 0px;
  }
  .recommendation.new .title {
    margin: 0px 0px 15px 145px;
    font-size: 20px;
  }
  .recommendation.new .symbol-input {
    float: none;
    margin: 0px;
    padding-bottom: 10px;
  }
  .recommendation.new .action-input {
    width: 48%;
  }
  .recommendation.new .term-input {
    width: 47%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {  /* pad portrait */
  .container>.recommendation {
    margin-top: 30px;
    width: 90%;
  }
  .recommendation.new .symbol-input {
    width: 40%;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {  /* pad landscape */
  .container>.recommendation {
    margin-top: 10px;
    width: 80%;
  }
}
