.user-profile {
  margin: 50px auto 20px auto;
  width: 60%;
}

.user-profile.edit {
  max-width: 330px;
  text-align: center
}

.user-profile.edit .avatar {
  height: 150px;
}

.user-profile .author {
  overflow: hidden;
}

.user-profile .author .avatar {
  float: left;
  height: 150px;
}

.user-profile .author .info {
  padding-left: 30px;
  overflow: hidden;
}

.user-profile .author .info .name {
  float: left;
  margin: 0px;
}


.user-profile .author .info .edit.btn {
  overflow: hidden;
}

.user-profile .recommendations .recommendation {
  margin: 40px 0px;
}

.user-profile .recommendations .recommendation a {
  color: inherit;
}

.user-profile .recommendations .recommendation a:hover {
  /*color: #428BC9;*/
  text-decoration: none;
}

.user-profile .recommendations .recommendation .bubble:after {
  top: -20px;
  left: 100px;
  border-width: 20px 0px 0px 20px;
}

.user-profile .author .info .stats {
  color: gray;
  margin-top: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 110px;
}

.user-profile .author .info .stats.empty {
  border-color: gray;
  border-style: dashed;
  border-width: 2px;
  text-align: center;
}

.user-profile .author .info .stats>div {
  float: left;
}

.user-profile .author .info .stats .score {
  line-height: 100px;
  font-size: 55px;
}


/* stats chart */
.bargraph {
  list-style: none;
  padding: 20px 0px 20px 10px;
  width: 300px;
}

ul.bargraph li {
  height: 20px;
  text-align: left;
  line-height: 20px;
  margin-bottom: 3px;
  -webkit-animation: draw 1s ease-in-out; /* Chrome, Safari, Opera */
  animation: draw 1s ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes draw {
  0% {width:0;}
}

/* Standard syntax */
@keyframes draw {
  0% {width:0;}
}

ul.bargraph li.buy {
  background: #5cb85c;
}

ul.bargraph li.sell {
  background: #d9534f;
}

ul.bargraph li.hold {
  background: #f0ad4e;
}

ul.bargraph li.empty {
  background: LightGray;
}

@media (max-width: 450px) {  /* phone portrait */
  .user-profile {
    margin-top: 5px;
    width: 100%;
  }
  .user-profile .author {
    margin-bottom: -30px;
    text-align: center;
  }
  .user-profile .author .avatar {
    float: none;
  }
  .user-profile .author .info {
    padding: 0px;
  }
  .user-profile .author .info .name {
    float: none;
  }
  .user-profile .author .info .stats {
    margin: 0px;
  }
  .user-profile .author .info .stats .score {
    font-size: 40px;
  }
  .bargraph {
    width: 200px;
  }
  .user-profile .author .info .edit.btn {
    float: none !important;
    margin-top: 10px;
  }

}

@media (min-width: 451px) and (max-width: 767px) {  /* phone landscape */
  .user-profile {
    margin-top: 20px;
    width: 100%;
  }
  .user-profile .author {
    margin-bottom: -30px;
  }
  .user-profile .author .avatar {
    height: 125px;
  }
  .user-profile .author .info .stats .score {
    font-size: 48px;
  }
  .bargraph {
    width: 270px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {  /* pad portrait */
  .user-profile {
    width: 80%;
  }
  .user-profile .author .info .stats .score {
    font-size: 50px;
  }
  .bargraph {
    width: 285px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {  /* pad landscape */
  .user-profile {
    width: 70%;
  }
}






 
